.mokUp-col-2 {
  width: 85%;
  height: 80vh;
  background-color: #fff;
  border-radius: 1rem;
  padding: 5%;  
}
.mokUp13-main {
  height: 100vh;
  background-color: #F2F2F3;
  color: #44444F;
}
.mokUp13-body {
  margin-top: 6%;
  width: 97%;
  height: 70.5vh;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3%;
}

/* .mokUp-col-2-box1 {
  
} */