.mokUp15-main {
  background-color: #F2F2F3;
  width: 95%;
  font-size: 14px;
  font-family: robota;
}
.qr-btn {

  margin-top: 25%;
}
.qr-box-2 {
  padding: 2%;
  border-radius: 1rem;
  width: 97%;
  background-color: #fff;
}
.mpkUp15-h6 {
  text-transform: uppercase;
}