.login-main {
  background-color: #F2F2F3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.login-box {
  background-color: #fff;
  width: 62%;
  border-radius: 2rem;
  margin-bottom: 2%;
}

.login-box-1 {
  background-color: #E7E9ED;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2%;
}
.login-box-2 {
  padding: 4% 3% 6%;
}

.login-input {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-color: #fff !important;
  border-radius: 0px !important;
  border-bottom: rgb(90, 86, 86) 1px solid !important;
  border-style: solid;
  margin-bottom: 2%;

  &:focus {
    box-shadow: none !important;
  }
}

.login-logo {
  width: 20%;
  display: block;
}
.login-blog {
  width: 90%;
  margin-top: 10%;
  margin-left: 6%;
  margin-bottom: 5%;
}
.login-text {
  text-align: center;
  margin-top: 5%;
}